@import "./_variables";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap";
@import "./_bootstrap";

.inner{
  padding: 70px 0
}

.row{
  &.no-gap{
    margin-left: 0;
    margin-right: 0;
    &>[class^="col"]{
      padding-left: 0;
      padding-right: 0
    }
  }
}

.bg{
  &-white{
    background-color: #fff
  }
}

.text{
  &-white{
    color:#eee
  }
}

.pad{
  padding: 15px;
  &-h{
    padding-top: 15px;
    padding-bottom: 15px;
    &-x2{
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  &-x2{
    padding: 30px;
  }
}
